.Datatable{
    height: 600px;
    margin: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        .Link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;



        }
    }


    .cellWithImg{
        display: flex;
        align-items: center;
        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: green;
            background-color: rgba(0,128,0,0.151);
        }

        &.pending{
            color: goldenrod;
            background-color: rgba(189,189,3,0.103);
        }

        &.passive{
            color: rgb(255, 3, 3);
            background-color: rgba(229, 123, 123, 0.151);
        }


    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15;

        .ViewButton{
            padding: 2px 10px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgb(108, 108, 184);
            margin-right: 20px;
            cursor: pointer;
           
        }
        .DeleteButton{
            padding: 2px 10px;
            border-radius: 5px;
            color: red;
            border: 1px dotted rgb(255, 0, 0);
            cursor: pointer;
           

        }

        
    }
}