.Sidebar{
    flex:1;
    background-color: white;
    // background-color: lightcoral;
    min-height: 100vh;
    border-right: 0.5px solid lightgray;

    .top{
        // background-color: rebeccapurple;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #6439ff;
        }
    }
    hr{
        height: 0;
        border: 0.5px solid lightgray;

    }
    .center{
        padding: 10px;
        ul {
            
            margin: 0;
            padding: 0;
            list-style: none;

            .title{
                font-size: 10px;
                color: #999;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 5px;


            
            }
            span{
                color: #888;
                font-size: 13px;
                font-weight: bold;
                
                
                
            }
            li{
                display: flex;
                align-items: center;
                justify-self: center;
                padding: 4px;
                
                cursor: pointer;

                &:hover{
                    background-color: #bcb0e5;
                }

                .icons{
                    margin-right: 5px;
                    font-size: 18px;
                    color: #7451f8;
                }

            }
        }
        
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 2px;
            margin: 5px;
            border: 0.5px solid rebeccapurple;
            cursor: pointer;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: black;
            }
            
        }
        

    }
}